body{

    color:#333; 
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#post{

    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px #ddd;
    margin: 0 auto;

}

#post h1{
    font-size: 20px;

}