body{

    color:red; 
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#post{

    border: solid #333 10px;
    width: 70%;
    padding: 1em;
    text-align: left;
    margin: 0 auto; 

}

#cabecera{

    background: #33a;

    color: white;
    margin: 0;
    padding: 0.5em;
    
}


#post h1{
    font-size: 20px;

}